<div class="container">

  <footer class="footer">

    <small>

      Copyright © The Traveler Guide Ruby on Rails App Developer by Ana Carolina A.

    </small>

    <nav>

      <ul>



      </ul>

    </nav>

  </footer>

</div>